<main>
  <div class="container">
    <h3 class="bg-light mb-5 col-md-3 text-center">管理者ログイン</h3>

<%= form_with model: @admin, url: admin_session_path do |f| %>
<form>
  <div class="row mb-3">
    <%= f.label "メールアドレス", class:"offset-md-1 col-md-2" %>
      <div class="form-group col-md-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-9" %>
      </div>
  </div>
  <div class="row mb-5">
    <%= f.label "パスワード", class:"offset-md-1 col-md-2" %>
    <div class="form-group col-md-7">
      <%= f.password_field :password, autocomplete: "current-password", class:"col-md-9" %>
    </div>
  </div>
</form>
 
  <div class="actions col-md-5 offset-md-3">
    <%= f.submit "ログイン", class:"btn btn-primary col-md-4" %>
  </div>
<% end %>
<%= render "admin/shared/links" %>
  </div>
</main>
