<main>
  <div class="container">
<h3 class="bg-light mb-5 col-md-3 text-center">新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="row">
  <form>
    <label class="col-md-2">名前</label>
  <div class="form-group col-md-4">
    <%= f.label :last_name, "(姓)" %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name %>
  </div>
  </div>
  
  <div class="row">
  <label class="col-md-2">フリガナ</label>
  <div class="form-group col-md-4">
    <%= f.label :last_name_kana, "(セイ)" %>
    <%= f.text_field :last_name_kana %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :first_name_kana, "(メイ)" %>
    <%= f.text_field :first_name_kana %>
  </div>
  </div>

  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  </div>
  
  <div class="row">
  <div class="form-group col-md-5">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </div>
  </div>
  
  <div class="row">
  <div class="form-group col-md-5">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  </div>
  
  <div class="row">
  <div class="form-group col-md-5">
    <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :telephone_number %>
  </div>
  </div>

  <div class="row">
  <div class="form-group col-md-5">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  </div>

  <div class="row">
  <div class="form-group col-md-5">
    <%= f.label :password_confirmation, "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </div>
  </form>

  <div class="row">
  <div class="actions mb-5">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
  </div>
<% end %>

<h4 class="bg-light col-md-3 text-center">既に登録済みの方</h4>
<p><%= render "public/shared/links" %>からログインしてください。</p>
</div>
</main>