<main>
  <div class="container">
<h3 class="bg-light mb-5 col-md-3 text-center">新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
 <table>
   <thead>
     <th></th>
     <th></th>
     <th></th>
   </thead>
   <tbody>
     <tr>
       <td>名前</td>
       <td><%= f.label :last_name, "(姓)" %><%= f.text_field :last_name, autofocus: true %></td>
       <td><%= f.label :first_name, "(名)" %><%= f.text_field :first_name %></td>
     </tr>
     <tr>
       <td>フリガナ</td>
       <td><%= f.label :last_name_kana, "(セイ)" %><%= f.text_field :last_name_kana %></td>
       <td><%= f.label :first_name_kana, "(メイ)" %><%= f.text_field :first_name_kana %></td>
     </tr>
     <tr>
       <td><%= f.label :email, "メールアドレス" %></td>
       <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
     </tr>
     <tr>
       <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
       <td colspan="2"><%= f.text_field :postal_code %></td>
     </tr>
     <tr>
       <td><%= f.label :address, "住所" %></td>
       <td colspan="2"><%= f.text_field :address %></td>
     </tr>
     <tr>
       <td><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></td>
       <td colspan="2"><%= f.text_field :telephone_number %></td>
     </tr>
     <tr>
       <td><%= f.label :password, "パスワード" %></td>
       <td colspan="2">
         <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
         <% end %>
         <%= f.password_field :password, autocomplete: "new-password" %>
       </td>
     </tr>
     <tr>
       <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
       <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
     </tr>
     <tr>
       <td></td>
       <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success" %></td>
     </tr>
   </tbody>
 </table>
  
<% end %>

<h4 class="bg-light col-md-3 text-center">既に登録済みの方</h4>
<p class="offset-md-1"><%= render "public/shared/links" %>からログインしてください。</p>
</div>
 </div>
</main>