<main>
  <div class="container">
<h3 class="bg-light mb-5 col-md-2 text-center">ログイン</h3>

<h4 class="bg-light ml-5 mb-3 col-md-4 text-center">会員の方はこちらからログイン</h4>


  
<%= form_with model: @customer, url: customer_session_path do |f| %>
<form>
  <div class="row">
  <div class="form-group col-md-12">
    <%= f.label :email, "メールアドレス", class:"col-md-2 offset-md-1" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-5" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <%= f.label :password, "パスワード", class:"col-md-2 offset-md-1" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"col-md-5" %>
  </div>
</div>

<div class="row">
  <div class="actions col-md-12 mb-5">
    <%= f.submit "ログイン", class: "btn btn-primary offset-md-3 col-md-2" %>
  </div>
</div>
</form>
<% end %>

<h4 class="bg-light col-md-4 text-center">会員登録がお済みでない方</h4>
<p class="offset-md-1"><%= render "public/shared/links" %>から新規登録を行ってください。</p>
</div>
</main>