<main>
  <div class="container">
<h3 class="bg-light mb-5 col-md-2 text-center">ログイン</h3>

<h4 class="bg-light ml-5 mb-3 col-md-4 text-center">会員の方はこちらからログイン</h4>


  
<%= form_with model: @customer, url: customer_session_path do |f| %>
<div class="row">
<form>
  <div class="form-group ml- col-md-4">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</div>

<div class="row">
  <div class="form-group ml-5 col-md-4">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
</div>

<div class="row">
  <div class="actions mb-5">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<h4 class="bg-light col-md-4 text-center">会員登録がお済みでない方</h4>
<%= render "public/shared/links" %>から新規登録を行ってください。
</div>
</main>